body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
  font-family: "Montserrat-Light";
  font-weight: 500;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}


/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Color Schemes */
.red-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
background-color: #fff;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/* Title Section */

#title .container-fluid {
  padding-top: 3%;
  text-align: left;
}

.iphone {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 60%;
}

/* Feature Section */
#features {
  position: relative;
}

.feature-box {
  padding: 4%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}

.testimonials-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

/* Press */
#press {
  padding: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

/* Footer Section */

.social-media {
  padding: 20px 10px;
}

/* Media Queries */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
  }
}

@media (max-width: 1028px) and (min-width: 992px) {
  h1 {
    text-align: left;
  }
}
